<div class="w-full h-full bg-gray-900 dark:bg-gray-200">
    <header class="lg:px-16 px-4 flex flex-wrap items-center py-4 shadow-lg">
        <div class="flex-1 flex justify-between items-center">
            <img class="sm:w-[5rem] w-[5rem]" [src]="logoPath" [alt]="logoText"/>
        </div>
        

        <div class="hidden md:flex md:items-center md:w-auto w-full" id="menu">
            <nav>
                <ul class="md:flex items-center justify-between text-base text-gray-100 dark:text-gray-600 pt-4 md:pt-0">
                    <li><a class="md:p-4 py-3 px-0 block" >Accueil</a></li>
                    <li><a class="md:p-4 py-3 px-0 block" >Idée de Recettes</a></li> 
                </ul>
            </nav>
        </div>
    </header>
